@{
    ViewData["Title"] = "Index Inicio";
}

<div>
    <p>
        El desayuno es la primera comida que se consume en el día.
        El nombre deriva del hecho de que uno no come mientras duerme,
        por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida
    </p>
    <p>
        En Argentina, Paraguay y Uruguay, se desayuna mate cocido, té, leche chocolatada o café con leche, jugo de naranja, con algo dulce.
    </p>
    <p>
        En general, en Colombia el desayuno consta de pan o arepa y de una bebida caliente (chocolate o café); dependiendo de la zona y el clima se acompaña de otros alimentos.
    </p>
</div>

@section SideBar{


    <h3>Bienvenido!</h3>

  
        
            <img src="https://www.comedera.com/wp-content/uploads/2022/12/Desayono-americano-shutterstock_2120331371.jpg" />

            <img src="https://lecheunicla.com/wp-content/uploads/Ideas-de-desayunos-faciles-y-saludables.png" />

            <img src="https://i.blogs.es/c18231/oatmeal/840_560.jpg" />
}