@{
    ViewData["Title"] = "Autores por nombre";
}
@model IEnumerable<slnBurdiakTrinidad.Models.Receta>


<table>
    <tr>
        <th>@Html.DisplayNameFor(model=>model.Id)</th>
        <th>@Html.DisplayNameFor(model=>model.Nombre)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem =>item.Id)</td>
            <td>@Html.DisplayFor(modelItem =>item.Nombre)</td>
        </tr>
    }
</table>